<h1><%= @team %></h1>

<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Edit', edit_team_path(@team) %></p>

<h3><%= @team.league %> roster:</h3>

<table>
	<tr>
		<th>Player</th>
		<th>Name</th>
		<th>Matches played</th>
		<th>KDA</th>
	</tr>
</table>