aside {
	float: right;
}

aside li {
	display: inline-block;
	padding-right: 5px;
}

body {
	padding-left: 10px;
}

table th, table td {
	text-align: left;
	padding-right: 20px;
}

table th {
	background-color: #4b61a7;
	color: #fff;
	text-align: center;
}

table tr td {
	padding-top: 5px;
}